* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
}

#status {
  font-size: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: .5em;
}

.replay {
  color: blue;
  text-decoration: none;
}


#board {
  display: flex;
  flex-flow: row wrap;
  height: 75vmin;
  width: 75vmin;
  background-color: dimgray;
  justify-content: space-between;
  align-content: space-between;

}

#board div {
  display: flex;
  width: 32%;
  height: 32%;
  background-color: whitesmoke;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: Helvetica, Arial, sans-serif;
}

#board .clicked {
  color: blue;
}